{% load widget_tweaks %}
{% load static %}
{% load placeholders %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>GamesPlay - Create Profile</title>
</head>
<body>
<div id="box">
    <header>
        <h1><a class="home" href="{% url 'index' %}">GamesPlay</a></h1>
        <nav>
            <a href="{% url 'profile login' %}">Login</a>
        </nav>
    </header>

    <p class="no-articles">CREATE PROFILE</p>
    <section class="form-page auth">
        <form method="post" action="{% url 'profile create' %}">
            {% csrf_token %}
            <div class="container">
                <div class="brand-logo1"></div>

                {{ form.non_field_errors }}
                {{ form.email.errors }}
                {{ form.password1.errors }}
                {{ form.password2.errors }}


                {{ form.email|placeholder:'Email'|attr:"class:form-control" }}
                {{ form.password1|placeholder:'Password'|attr:"class:form-control" }}
                {{ form.password2|placeholder:'Repeat password'|attr:"class:form-control" }}

                <button type="submit" class="btn btn--submit">Create Profile</button>
            </div>
        </form>
    </section>

    <footer>
        &copy;Vasil Filkin 2025
    </footer>
</div>
</body>
</html>
