{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load placeholders %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<p class="no-articles">Create Game</p>
<section id="general-app-container">

    <form method="post" action="{% url 'game create' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <!-- Title -->
        {{ form.title|placeholder:'Write title'|attr:"class:form-control" }}
        {{ form.title.errors }}

        <!-- Category -->
        {{ form.category|attr:"class:form-control" }}
        {{ form.category.errors }}

        <!-- Price -->
        {{ form.price|placeholder:'Price'|attr:"class:form-control" }}
        {{ form.price.errors }}

        <!-- Picture field -->
        <div class="picture-wrapper">
            <img class="entity-game-picture" src="{% static 'images/no image.jpg' %}" alt="game image"/>
            {{ form.game_picture|attr:"class:form-control file-input" }}
            {{ form.game_picture.errors }}
        </div>

        <!-- Summary -->
        {{ form.summary|placeholder:'Summary'|attr:"class:form-control" }}
        {{ form.summary.errors }}

        <!-- Submit -->
        <input class="btn submit" type="submit" value="Create Game">
    </form>

</section>
{% endblock %}
