{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    <section id="edit-game-container">
        <form method="post" action="{% url 'game edit' pk=game.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="no-articles no-articles--welcome no-articles--edit-game">EDIT GAME</p>
            {{ form.non_field_errors }}

            <div class="edit-game-wrapper">
                <!-- Left Column: Picture -->
                <div class="edit-game-left">
                    {% if game.game_picture %}
                        <img src="{{ game.game_picture.url }}" alt="Game Picture" class="profile-img">
                    {% else %}
                        <img src="{% static 'images/no-image.jpg' %}" alt="Game Picture" class="profile-img no-image">
                    {% endif %}
                    <input type="file" name="game_picture" id="id_game_picture" accept="image/*" class="form-control">
                    {{ form.game_picture.errors }}
                </div>

                <!-- Right Column: Form Fields -->
                <div class="edit-game-right">
                    {{ form.title|attr:"class:form-control" }}
                    {{ form.title.errors }}

                    {{ form.category|attr:"class:form-control" }}
                    {{ form.category.errors }}

                    {{ form.price|attr:"class:form-control" }}
                    {{ form.price.errors }}

                    {{ form.summary|attr:"class:form-control" }}
                    {{ form.summary.errors }}

                    <input class="btn submit" type="submit" value="Edit Game">
                </div>
            </div>
        </form>
    </section>

{% endblock %}

